extends ./layout/index

block content
    main.container.mt-5
        h1(class= "mb-5 text-center") #{content.title}
            p.mb-5 Contacta para cualquier duda que tengas o solicitar inforamción en alguno de mis servicios.
            if(success)
                h6.toast-message-form #{success}
        .row.mt-5x
            .row.justify-content-center.col.mb-5.mt-8
                .col-md-8 
                    form(action="/contacto" method="POST")
                        .form-group
                            label(for="nombre") Nombre 
                            input#nombre(placeholder="Tu nombre" type="text" name="nombre" class="form-control", value= nombre, required)
                        .form-group
                            label(for="apellidos") Apellidos 
                            input#nombre(placeholder="Tus apellidos" type="text" name="apellidos" class="form-control", value= apellidos, required)
                        .form-group
                            label(for="nombre") Correo Electrónico 
                            input#correo(placeholder="Tu correo" type="text" name="correo" class="form-control", value= correo, required)                  
                        .form-group
                            label(for="telefono") Telefono 
                            input#correo(placeholder="Tu numero de telefono" type="tel" name="telefono" class="form-control", value= telefono, required)
                        .form-group
                            label(for="servicio") Elige que servicio te interesa:
                            <br>
                                select#servicio(name="servicio" class="form-control", rows=3, required)
                                    each treatment in treatments
                                        option(value=treatment.nombre) #{treatment.nombre}
                        .form-group
                            label(for="mensaje") Mensaje 
                            textarea#mensaje(placeholder="Tu consulta" name="mensaje" class="form-control", rows= 3, required)= mensaje

                        .col-md-6
                        if(errores)
                            each error in errores 
                                .alert.col.alert-danger.text-center= error.mensaje

                        input(type="submit").btn.btn-success.btn-block.w-50.text-center