extends ./layout/index

block content 
    main.container.mt-5
        h2.text-center.mb-5 #{result.nombre}
        .row 
            .col-md-6.text-center
                img(src=`${result.imagen}`, alt=`tratamiento de ${result.nombre}` class="img-fluid")
            .col-md-6
                ul.my-4.list-unstyled
                    li 
                        svg.icon.icon-tabler.icon-tabler-clock(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F8CBCA' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            circle(cx='12' cy='12' r='9')
                            polyline(points='12 7 12 12 15 15') 
                        h5.pt-2.d-inline.pl-2 Duración del tratamiento: 
                            strong.d-inline #{result.duracion}
                    li 
                        svg.icon.icon-tabler.icon-tabler-receipt-2(xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F8CBCA' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            path(d='M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2')
                            path(d='M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5')
                        h5.d-inline.pl-2 Precio: 
                            strong.d-inline #{result.precio}€
                    <br/>
                    a.text-center.mx-0.pedir-cita-color(href=result.calendarUrl, class="btn btn-block") Pedir cita


                p !{descripcion}

            .container.mt-5.justify-content-center.mb-5
                h4.my-6 Beneficios de !{result.nombre.toLowerCase()}
                br 
                p !{beneficios}

                if(faqs && faqs[0][0] !== "{}")
                    each faq, index in faqs
                        h4.my-6 ¿#{faq[0].trim()}?
                        p !{faq[1].trim()}
                br
                h4.my-6 Cuidados
                br
                p !{cuidados}
                <br>

                h4.my-6 Posibles efectos secundarios
                br
                p !{efectos}
